*{
    margin: 0;
    padding: 0;
}
.mian{
    height: 700px;
    background-color: #68CDD5;
}
.logo{
    margin-top: 100px;
    margin-left: auto;
    text-align: center;
}
.button{
    margin-top: 100px;
}
.right-button{
    float: right;
    margin-right: 10%;
}
.left-button{
    float: left;
    margin-left: 10%;
}
p {
    text-align: center;
    color: #fefefe;
}
a{
    width: 100%;
    height: 100%;
    background-color: #fefefe;
}


