/* made in luochenaili     */
/* 2017/10/14 */
*{
    padding: 0;
    margin: 0;
}

.top{
    height: 3rem;
    width: 100%;
}
/*========================*/
/*:::::::1.head:::::::::::*/
/*========================*/
.head{
    height: 3rem;
    background: #68CDD5;
    color: white;
    position: fixed;
    z-index: 99;
    width: 100%;
    line-height: 3rem;
    top: 0px;
}
.head img{
    height: 2rem;
    float: left;
    margin:0.5rem 0 0 2%;
}
.head h2{
    text-align: center;
    padding-right: 3rem;
}
/*========================*/
/*::::::2.banner::::::::::*/
/*========================*/
.banner{
    height: 9rem;
    width: 100%;
    background: url("img/task5-1_07.png") no-repeat;
    background-size: 100% 100%;
}
#photo{
    width: 4rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}
#icon-m{
    height: 1rem;
}
.name{
    position: relative;
    width: 10rem;
    top: -3.3rem;
    left: 5.3rem;
    color: white;
}
.name span{
    font-size: 0.7em;
}
/*========================*/
/*:::::::3.contnet::::::::*/
/*========================*/
.text-1{
    line-height: 3rem;
    border-bottom: solid 2px #d7d7d7;
}
.text-2{
    width: 94%;
    margin: 0 auto;
    border-bottom: solid 2px #d7d7d7;
    display: flex;
    align-items: center;
}
.line span{
    padding-left: 1rem;
    border-left: solid 2px blue;
    margin-left: 1rem;
}
.skil img{
    height: 1rem;
    margin-left: 1rem;
}
.l{
    margin: 1rem;
    border-right: solid 2px #868e96;
    color: #868e96;
    padding: 3px 10px 3px 0;
    align-items: center;
}
.r{
    padding: 0 1rem;
}
.foot{
    position: fixed;
    bottom: 0px;
    height: 55px;
    background: white;
    z-index: 1;
    width: 100%;
}
button{
    height: 2.8rem;
    width: 42%;
    border-radius: 0.5rem;
    border: solid 2px #68CDD5;
    margin-top: 2px;
}
#bu-l{
    float: left;
    margin-left: 5%;
    background: white;

}
#bu-r{
    float: right;
    margin-right: 5%;
    background: #68CDD5;
}
